:root {
    --primary: rgb(78, 88, 101);
    --secondary: rgba(16, 8, 8, 0.95);
    --tertiary: rgba(247, 244, 237, 0.9);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px dotted blue;
    font-variant: small-caps;
}

/* typography */
a {
    text-decoration: none;
    color: inherit;
}

body {
    color: var(--secondary);
}

/* flow */
body, header, main, footer {
    display: flex;
    flex-direction: column;
}

#navigation, #prep-links, #date {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

#prep-links {
    list-style: none;
}

#previous-preps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
}

#previous-preps h2 {
    grid-column: span 4;
}

/* box */
body {
    height: 100vh;
    background-color: var(--primary);
}

.section {
    background-color: var(--tertiary);
}

#current-prep, footer .section {
    margin-top: 1vh;
}

#current-prep section {
    padding: 1%;
}

.meal {
    padding: .25rem 0 .25rem .25rem;
}