:root {
    --accent: rgb(68, 66, 66);
    --link: rgb(163, 0, 0);
    --border: 1px solid var(--accent);
    --section-padding: .5rem .25rem .5rem 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* box */
body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem 1rem;
    font-family: 'Khula', sans-serif;
    font-variant: small-caps;
    letter-spacing: .05rem;
    height: 100vh;
}

/* header divs */
header {
    padding: var(--section-padding)
}

header p {
    font-style: italic;
}

/* main divs */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section {
    padding: var(--section-padding);
    border: var(--border);
    border-right: none;
}

#prep-stats {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0 1rem;
}

.key {
    font-weight: bolder;
}

#prep-details {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    border: var(--border);
    border-right: none;
    padding: var(--section-padding);
    gap: 0 1rem;
}

.meal,
li {
    padding-left: 1rem;
}

#prep-meals {
    flex: 1;
}

.meal {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1rem;
}

.foods {
    list-style: none;
    margin-top: .17rem;
}

/* footer divs */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--accent);
    font-size: .75rem;
}

/* typography */
a {
    color: inherit;
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--link);
}

@media screen and (min-width: 765px) {
    header {
        display: flex;
        gap: 1rem;
        align-items: baseline;
    }

    #prep-stats {
        grid-template-columns: repeat(4, 1fr);
    }

    #prep-meals {
        flex: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem 0rem;
    }

    #prep-meals h2 {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1024px) {
    .meal {
        padding-left: 3rem;
    }
}

@media print {
    body {
        font-size: 1.5rem;
    }

    main,
    #prep-meals {
        flex: 0;
    }

    #prep-stats {
        grid-template-columns: repeat(4, 1fr);
    }

    #prep-meals {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    .foods {
        margin-top: .25rem;
    }

}